In [148]:
import numpy as np
import pandas as pd
import datetime as dt
from fredapi import Fred
from sqlalchemy import create_engine
import psycopg2

In [149]:
fred = Fred(api_key='')

In [150]:
engine = create_engine('postgresql://Jballas223:Password1@localhost:5432/securities_db')

In [151]:
pd.options.display.max_colwidth = 100

In [152]:
leading = {'man_hours':'AWHAEMAN', 'initail_claims':'ICSA', 'new_manufacturing_orders':'DGORDER',
           'new_orders_capgoods':'ANDENO', 'residential_permits':'PERMIT',
          'money_supply':'WM2NS', 'int_rate_spread':'T10Y2Y', 'cons_sentiment':'UMCSENT'}

In [153]:
start = observation_start='2010-01-01'
end = dt.date.today()

metrics = []
for metric in leading.keys():
    df = pd.DataFrame(fred.get_series(leading[metric], observation_start=start, observation_end=end))
    df.index.rename('date', inplace=True)
    df.rename(columns={0:'value'}, inplace=True)
    df.insert(loc=0, column='metric', value=metric)
    df = df.reset_index().set_index(['metric','date'])
    metrics.append(df)

In [154]:
metrics = pd.concat(metrics)

In [155]:
metrics[metrics.index.duplicated()]

Empty DataFrame
Columns: [value]
Index: []

In [156]:
metrics.to_sql('economic_data', engine)