In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import requests
from sqlalchemy import create_engine
from sqlalchemy import inspect
import psycopg2
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
engine = create_engine('postgresql://Jballas223:Password1@localhost:5432/securities_db')

In [3]:
inspector = inspect(engine)
inspector.get_table_names()

['all_symbols',
 'symbols_profile',
 'symbols_industry',
 'symbols_peers',
 'sp500_historical',
 'symbols_income_statement_new',
 'symbols_balance_sheet',
 'symbols_cash_flow_statement',
 'symbols_enterprise_value',
 'price_history_new']

In [4]:
income_statement = pd.read_sql_table('symbols_income_statement_new', engine)
balance_sheet = pd.read_sql_table('symbols_balance_sheet', engine)
cash_flow_statement = pd.read_sql_table('symbols_cash_flow_statement', engine)
enterprise_value = pd.read_sql_table('symbols_enterprise_value', engine)

#price_history = pd.read_sql_table('price_history_new', engine)

In [5]:
statement_list = [income_statement, balance_sheet, cash_flow_statement, enterprise_value]

statement_list = [x.set_index(['symbol', 'year', 'period']) for x in statement_list]

counter = 0
for statement in statement_list:
  if counter < 1:
    combined_df = statement
  else:
    combined_df = pd.merge(combined_df, statement, how='left', left_index=True, right_index=True)
  counter+=1

In [6]:
#cleaning data
statement_nas = combined_df[combined_df.isna().any(axis=1)]
combined_df.fillna(0, inplace=True)
clean_index = combined_df.index.drop_duplicates(keep='first')
combined_df = combined_df[combined_df.index.isin(clean_index)]
ratios_df = pd.DataFrame(combined_df['date_x'])

In [7]:
symbols_list = combined_df.reset_index()['symbol'].unique()

In [19]:
avg_se_company = {symbol:combined_df.loc[symbol,'totalStockholdersEquity'].rolling(window=2).mean() for symbol in symbols_list}

avg_se_list = []
for symbol in symbols_list:
    temp_df = pd.DataFrame(avg_se_company[symbol])
    temp_df['symbol'] = symbol
    temp_df = temp_df.reset_index().set_index(['symbol', 'year', 'period'])
    avg_se_list.append(temp_df)
    
combined_df['avgTotalStockholdersEquity'] = pd.concat(avg_se_list)
#combined_df = pd.merge(combined_df, avg_se, how='left', right_index=True, left_index=True)



symbols_list = combined_df.reset_index()['symbol'].unique()

avg_ta_company = {symbol:combined_df.loc[symbol,'totalAssets'].rolling(window=2).mean() for symbol in symbols_list}

avg_ta_list = []
for symbol in symbols_list:
    temp_df = pd.DataFrame(avg_ta_company[symbol])
    temp_df['symbol'] = symbol
    temp_df = temp_df.reset_index().set_index(['symbol', 'year', 'period'])
    avg_ta_list.append(temp_df)
    
combined_df['avgTotalAssets'] = pd.concat(avg_ta_list)
#combined_df = pd.merge(combined_df, avg_ta, how='left', right_index=True, left_index=True)



avg_ti_company = {symbol:combined_df.loc[symbol,'totalInvestments'].rolling(window=2).mean() for symbol in symbols_list}

avg_ti_list = []
for symbol in symbols_list:
    temp_df = pd.DataFrame(avg_ti_company[symbol])
    temp_df['symbol'] = symbol
    temp_df = temp_df.reset_index().set_index(['symbol', 'year', 'period'])
    avg_ti_list.append(temp_df)
    
combined_df['avgTotalInvestments'] = pd.concat(avg_ti_list)
#combined_df = pd.merge(combined_df, avg_ti, how='left', right_index=True, left_index=True)



avg_tl_company = {symbol:combined_df.loc[symbol,'totalLiabilities'].rolling(window=2).mean() for symbol in symbols_list}

avg_tl_list = []
for symbol in symbols_list:
    temp_df = pd.DataFrame(avg_tl_company[symbol])
    temp_df['symbol'] = symbol
    temp_df = temp_df.reset_index().set_index(['symbol', 'year', 'period'])
    avg_tl_list.append(temp_df)
    
    
combined_df['avgTotalLiabilities'] = pd.concat(avg_tl_list)
#combined_df = pd.merge(combined_df, avg_tl, how='left', right_index=True, left_index=True)

In [33]:
#Valuation Ratios
ratios_df['pe_ratio'] = combined_df['stockPrice'] / combined_df['eps'] #lower is better
ratios_df['EV/EBITDA'] = combined_df['enterpriseValue'] / combined_df['ebitda'] #lower is better
ratios_df['Price/CF'] = combined_df['stockPrice'] / combined_df['freeCashFlow'] #lower is better

#profitability ratios
ratios_df['Gross Profit Margin'] = combined_df['grossProfit'] / combined_df['revenue'] #higher is better
ratios_df['EBITDA margin'] = combined_df['ebitda'] / combined_df['revenue'] #higher is better
ratios_df['Operating Margin'] = combined_df['operatingIncome'] / combined_df['revenue'] #higher is better
ratios_df['Net Margin'] = combined_df['netIncome_x'] / combined_df['revenue'] #higher is better


ratios_df['ROE'] = combined_df['netIncome_x'] / combined_df['avgTotalStockholdersEquity'] #higher is better
ratios_df['ROA'] = combined_df['netIncome_x'] / combined_df['avgTotalAssets'] #higher is better
ratios_df['ROI'] = combined_df['netIncome_x'] / combined_df['avgTotalInvestments'] #higher is better

#liquidity ratios
ratios_df['Current Ratio'] = combined_df['totalCurrentAssets'] / combined_df['totalCurrentLiabilities'] #higher is better
ratios_df['Quick ratio'] = (combined_df['cashAndCashEquivalents'] + combined_df['shortTermInvestments'] #higher is better
                            + combined_df['accountsReceivables']) / combined_df['totalCurrentLiabilities'] #higher is better

#Solvency ratios
ratios_df['Debt/Assets'] = combined_df['totalLiabilities'] / combined_df['totalAssets'] #lower is better
ratios_df['Debt/Equity'] = combined_df['totalLiabilities'] / combined_df['totalAssets'] #lower is better
ratios_df['Interest Coverage'] = combined_df['grossProfit'] / combined_df['interestExpense'] #higher is better

In [25]:
combined_df.columns

Index(['index_x', 'date_x', 'reportedCurrency_x', 'fillingDate_x',
       'acceptedDate_x', 'revenue', 'costOfRevenue', 'grossProfit',
       'grossProfitRatio', 'researchAndDevelopmentExpenses',
       ...
       'stockPrice', 'numberOfShares', 'marketCapitalization',
       'minusCashAndCashEquivalents', 'addTotalDebt', 'enterpriseValue',
       'avgTotalStockholdersEquity', 'avgTotalAssets', 'avgTotalInvestments',
       'avgTotalLiabilities'],
      dtype='object', length=129)

In [36]:
# ratios_df.replace([np.inf, -np.inf, np.nan],0, inplace=True)
# ratios_df.drop(columns=('date_x'), inplace=True)
# ratios_df.clip(lower=0, inplace=True)
# price_history.set_index(['symbol','date'], inplace=True)

ratios_df.replace([np.inf, -np.inf],np.nan, inplace=True)

In [37]:
ratios_df

                        pe_ratio   EV/EBITDA      Price/CF  \
symbol year period
A      2016 Q3        125.465723   74.008494  2.735429e-07
            Q4        112.037143   57.488201  2.393956e-07
       2017 Q1         93.859169   59.461074  5.829762e-07
            Q2        109.411763   68.885489  2.607477e-07
            Q3        108.709093   74.248374  3.231892e-07
...                          ...         ...           ...
ZYME   2020 Q1        -55.421875  -46.500102 -9.228328e-07
            Q2        -46.844156  -42.337431 -6.988820e-07
            Q3        -32.573428  -29.948485 -2.491842e-06
            Q4     -13324.170288 -492.338022 -1.006110e-06
       2021 Q1        -36.298851  -31.720284 -7.610005e-07

                    Gross Profit Margin  EBITDA margin  Operating Margin  \
symbol year period
A      2016 Q3                 0.519157       0.197318          0.139847
            Q4                 0.529253       0.215122          0.164716
       2017 Q1                 0.537957       0.244611          0.193065
            Q2                 0.537205       0.231397          0.182396
            Q3                 0.535009       0.226212          0.180431
...                                 ...            ...               ...
ZYME   2020 Q1                 0.000000      -3.998428         -4.339098
            Q2                -2.173153      -3.081479         -3.264746
            Q3                 0.000000     -26.871358        -27.882709
            Q4                 1.000000    -112.967253         -0.004813
       2021 Q1                 0.000000     -65.706522        -69.774845

                    Net Margin           ROE           ROA       ROI  \
symbol year period
A      2016 Q3        0.118774           NaN           NaN       NaN
            Q4        0.113411  2.932961e-02  1.622039e-02       NaN
       2017 Q1        0.157451  3.931664e-02  2.143677e-02       NaN
            Q2        0.148820  3.780980e-02  2.064451e-02       NaN
            Q3        0.157092  3.894948e-02  2.150273e-02       NaN
...                        ...           ...           ...       ...
ZYME   2020 Q1       -3.765389 -8.107278e-02 -6.197557e-02 -0.166423
            Q2       -3.152440 -7.687102e-02 -6.266693e-02 -0.116755
            Q3      -27.454408 -1.571274e-01 -1.231355e-01 -0.494932
            Q4       -0.004635 -4.287241e-07 -3.252911e-07 -0.000002
       2021 Q1      -69.239130 -1.133067e-01 -8.671428e-02 -0.424025

                    Current Ratio  Quick ratio  Debt/Assets  Debt/Equity  \
symbol year period
A      2016 Q3           3.066898     1.910513     0.438066     0.438066
            Q4           3.846561     2.367196     0.455781     0.455781
       2017 Q1           3.337925     2.029385     0.453760     0.453760
            Q2           3.201348     1.998315     0.454217     0.454217
            Q3           3.219984     2.080580     0.441835     0.441835
...                           ...          ...          ...          ...
ZYME   2020 Q1           6.921446     6.600329     0.179332     0.179332
            Q2           6.475639     5.916680     0.190491     0.190491
            Q3           5.029517     4.984839     0.243765     0.243765
            Q4           5.312213     4.841512     0.238595     0.238595
       2021 Q1           6.160837     6.010264     0.230409     0.230409

                    Interest Coverage
symbol year period
A      2016 Q3              31.882353
            Q4              30.947368
       2017 Q1              28.700000
            Q2              29.600000
            Q3              31.368421
...                               ...
ZYME   2020 Q1                    NaN
            Q2                    NaN
            Q3                    NaN
            Q4                    NaN
       2021 Q1                    NaN

[48047 rows x 15 columns]

In [38]:
ratios_df.to_sql('symbols_ratios', engine, if_exists='append')

Fix Average total assets and Average total liabilities to not overlap from other companies from first year.

Get industry data to compare all data by industry.

Get more features about each stock in order to aggregate data better in groupby's, pivot tables, etc.

Fix scaling of all metrics and ratios